/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h> 

#define DEFAULT 0
#define NAVI    1
#define RAISE   2
{
// ----------------------------------------------------------------------------------------------------------------------------------
// |  g1  |  f1  |  e1  |  d1   |  c1   |  b1  | a1 |		|  a1  |  b1  |  c1  |  d1   |  e1   |  f1  | g1 |                 
// |  g2  |  f2  |  e2  |  d2   |  c2   |  b2  | a2 |       |  a2  |  b2  |  c2  |  d2   |  e2   |  f2  | g2 |        			  
// |  g3  |  f3  |  e3  |  d3   |  c4   |  b3  | a3 |       |  a3  |  b3  |  c3  |  d3   |  e4   |  f3  | g3 |           	        
// |  g4  |  f4  |  e4  |  d4   |  c5   |  b4  | a4 |       |  a4  |  b4  |  c4  |  d4   |  e5   |  f4  | g4 |       	      
// |  g5  |  f5  |  e5  |  d5   |  c6   |  b5  | a5 |		|  a5  |  b5  |  c5  |  d5   |  e6   |  f5  | g5 |


	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ----------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   | MO1  |		                    | MO2 |  6   |  7    |  8    |  9   |   0   | TOG 2 |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   | "["  |          			    	| MO2 |  Y   |  U    |  I    |  O   |   P   | "Å"   |
// |  CTRL |  A  |  S  |  D   |  F   |  G   | SHIFT|                	        | "]" |  H   |  J    |  K    |  L   | "Æ"   |  "Ø"  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | TAP  |              	        	|CTRL |  N   |  M    |  ","  |  .   |   -   | SHIFT |
// | GUI   | "+" | "-" | ALT  | ";"  |SPACE | BSPC |	                        | DEL |SPACE |  MUTE |  LEFT | DOWN |  UP   | RIGHT |									
			bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3   &kp N4   &kp N5 			&mo 1             			&mo 2 	  &kp N6   	&kp N7    	&kp N8    &kp N9 	&kp N0    &tog RAISE
&kp TAB   &kp Q  &kp W  &kp E    &kp R    &kp T  			&kp LBKT  					&kp RBKT  &kp Y  	&kp U    	&kp I     &kp O     &kp P     &kp W
&kp LCTRL &kp A  &kp S  &kp D    &kp F    &kp G  			&kp LSHFT  	   				&kp RCTRL &kp H  	&kp J    	&kp K     &kp L     &kp SEMI  &kp SQT
&kp LSHFT &kp Z  &kp X  &kp C    &kp V    &kp B  			&kp TAB 		  			&kp RALT  &kp RCTRL &kp N  		&kp M     &kp COMMA &kp DOT	  &kp MINUS &kp LSHFT
&kp LGUI  &kp PLUS &kp MINUS  &kp LALT &kp SEMI &kp SPACE 	&kp S						&kp DEL	  &kp SPACE	&kp K_MUTE	&kp LEFT  &kp DOWN  &kp UP	  &kp RIGHT
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

		lower_layer {
// ----------------------------------------------------------------------------------------------------------------------------------	
// | BTCLR | BT1 | BT2 | BT3  | BT4  |  BT5 | 	  |	                	   |     |      |       |       |      |       |       |
// |   F1  | F2  | F3  | F4   | F5   |  F6  |     |          			   |     |  F7  |  F8   |   F9  | F10  |  F11  |  F12  |
// |   '   |  !  |  @  |  #   |  $   |   %  |     |                	 	   |     |   ^  |   &   |   *   |  (   |   )   |   ~   |
// |       |     |     |      |      |      |     |             	       |     |      |   _   |    +  |  {   |   }   |  "|"  |
// |       |     |     |      |      |      |     |             	       |     |      |       |       |      |       |       |		
&bt BT_CLR &bt BT_SEL 0  &bt BT_SEL 1 &bt BT_SEL 2  &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_SEL 5          &trans   &trans    &trans    &trans   &trans   &trans   &trans
&kp F1     &kp F2   	 &kp F3 	  &kp F4   		&kp F5     	 &kp F6    	  &trans          	    &trans   &kp F7    &kp F8    &kp F9   &kp F10  &kp F11  &kp F12  
&kp GRAVE  &kp N1 	 	 &kp AT 	  &kp HASH 		&kp DOLLAR 	 &kp PRCNT    &trans         		&trans   &kp CARET &kp AMPS  &kp STAR &kp LPAR &kp RPAR &kp TILDE 
&trans     &trans   	 &trans 	  &trans   		&trans       &trans       &trans     			&trans   &trans    &kp MINUS &kp PLUS &kp LBRC &kp RBRC &kp PIPE 
&trans     &trans   	 &trans 	  &trans   		&trans     	 &trans       &trans 	 			&trans   &trans	   &trans    &trans   &trans   &trans   &trans 
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

		raise_layer {
// ----------------------------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |     |	                	   | 	   |    6     |   7   |   8   |   9  |   0   | TOG 2 |
// |       |     |     |      |      |      |     |          			   |       | VOL_UP   |       |       |  UP  |       |       |
// |       |     |     |      |      |      |     |                	 	   |       | VOL_DN   |       |  LEFT | DOWN | RIGHT |       |
// |       |     |     |      |      |      |     |      	   			   |       |          |       |       |      |       |       |
// |       |     |     |      |      |      |     |			  		       |       |    	  |       |       |      |       |       |

&trans     &trans   &trans &trans   &trans  &trans   &trans             &trans      &trans   	 &trans   &trans   &trans 	&trans    &tog RAISE  
&trans     &trans   &trans &trans   &trans 	&trans   &trans       		&trans      &kp C_VOL_UP &trans   &trans   &kp UP   &trans    &trans
&trans     &trans   &trans &trans   &trans 	&trans   &trans      		&trans   	&kp C_VOL_DN &trans   &kp LEFT &kp DOWN &kp RIGHT &trans 
&trans     &trans   &trans &trans   &trans 	&trans   &trans    	        &trans   	&trans       &trans   &trans   &trans   &trans    &trans      
&trans     &trans   &trans &trans   &trans 	&trans   &trans       	    &trans      &trans       &trans   &trans   &trans 	&trans    &trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};
	};
};
